<!DOCTYPE html>
<html lang="en"
      class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase no-indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="">

    <title>{% block title%}{% endblock %}</title>

    <meta name="description" content="{% block desc %}{% endblock %}">
    <meta name="author" content="{{config.owner}}">
    <meta name="viewport" content="width=device-width">
    {% block script_head %}{% endblock %}


</head>
<body id="index">

<header class="top banner cf">
    <div class="inner">

        <div class="left">
            <a href="http://{{config.homepage}}/" title="home" class="logo">{{config.owner}}</a>
        </div>

        <nav class="main-nav">
            <ul>
                <li class="nav-item">
                    <a title="Journal" class="button white journal nav-link"
                       href="http://{{config.homepage}}/journals">journal</a>
                </li>
                <li class="nav-item">
                    <a title="About" class="button white about nav-link"
                       href="http://{{config.homepage}}/about">about</a>
                </li>
            </ul>
        </nav>

    </div>
</header>

{% block body %}
{% endblock %}

<!--<footer class="inner">-->
<footer>
    <div class="inner">
        <nav class="footer-nav">
            <ul>
                <li class="nav-item">
                    <a title="Journal" class="button white journal nav-link"
                       href="http://{{config.homepage}}/journals">journal</a>
                </li>
                <li class="nav-item">
                    <a title="About" class="button white about nav-link"
                       href="http://{{config.homepage}}/about">about</a>
                </li>
            </ul>
        </nav>

    </div>
</footer>

<!--[if lt IE 7 ]>
<script src="js/libs/dd_belatedpng.js"></script>
<script>DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->


</div>

<div class="praetorians">
    <input type="file"  id="id-praetorian" class="hide"/>
    <label for="id-praetorian"><span>π</span></label>
</div>
</body>

<link rel="stylesheet" href="/static/css?file=reset.css">
<link rel="stylesheet" href="/static/css?file=site.css">
<link rel="stylesheet" href="/static/css?file=syntax.css">
<link rel="stylesheet" href="/static/css?file=mobile.css"
      media="only screen and (max-device-width: 600px)">
<link rel="stylesheet" href="/static/css?file=github-markdown.css">
<link rel="stylesheet" href="/static/css?file=css-lib.css">
<script src="/static/js?file=modernizr-1.7.min.js.download"></script>
<script src='static/js?file=js-lib.js'></script>
<script src='static/js?file=base.js'></script>
{% block script_end %}
{% endblock %}
</html>