{% extends "blog/base.html" %}
{% block title %}Welcome | {{owner}}{% endblock %}

{% block body %}
<section class="inner main">

        <header>
            <h1>Welcome</h1>
            <nav class="journal breadcrumb">
                <a href="http://{{homepage}}/">Home</a>
                »
                Welcome
            </nav>
        </header>

        <p><img alt="Riding bikes" src="/static/img?file=me-on-plains.jpg"></p>
        <p>Hey, I’m Jianwei.xiang. I live in China and develop software for fun and profit.
            I also read,
            <a href="https://music.163.com/#/user/home?id=99238667">enjoy music</a>,
            <a href="https://github.com/JV-X">contribute</a> to open source and practice calligraphy once in a while.</p>
        <p>I hang out on <a href="https://bitbucket.org/jianwei-x/">bitbucket.org</a> and check Gmail <a href="https://mail.google.com/">xjv1195275315@gmail.com</a>
            sometimes. My <a href="https://www.zhihu.com/people/xiang-jian-wei-49">Zhihu profile</a> might be of&nbsp;interest.
        </p>

    </section>
{% endblock %}
