<!DOCTYPE html>
<html lang="en"
      class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase no-indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="">

    <title>Journal | {{homepage}}</title>

    <meta name="description" content="Journal of author">
    <meta name="author" content="{{owner}}">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="/static?file=reset.css">
    <link rel="stylesheet" href="/static?file=site.css">
    <link rel="stylesheet" href="/static?file=syntax.css">
    <link rel="stylesheet" href="/static?file=mobile.css"
          media="only screen and (max-device-width: 600px)">
    <script src="/static?file=modernizr-1.7.min.js.download"></script>
</head>
<body id="journal">
<div class="wrapper">

    <header class="top banner cf">

        <div class="inner">

            <div class="left">
                <a href="http://{{homepage}}/" title="home" class="logo">{{owner}}</a>
            </div>

            <nav class="main-nav">
                <ul>

                    <li class="nav-item">
                        <a title="Journal" class="button white journal nav-link" href="http://{{homepage}}/journal">journal</a>
                    </li>

                    <li class="nav-item">
                        <a title="About" class="button white about nav-link" href="http://{{homepage}}/about">about</a>
                    </li>

                </ul>
            </nav>

        </div>

    </header>

    <section class="inner main">
        <header>
            <h1>Journal</h1>
            <nav class="journal breadcrumb">
                <a href="http://{{homepage}}/">Home</a>
                »
                Journal
            </nav>
        </header>

        <ul class="journal listing clear">
            {% for e in journals %}
            <li>
                <article>
                    <time class="posted-time" datetime="{{e.date}}">
                        {{e.display_date}}
                    </time>
                    &nbsp; - &nbsp;
                    <a href="http://{{homepage}}/journal/{{e.year}}/{{e.name}}">{{e.display_name}}</a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!--<footer class="inner">-->
    <footer>
        <div class="inner">
            <nav class="footer-nav">
                <ul>
                    <li class="nav-item">
                        <a title="Journal" class="button white journal nav-link" href="http://{{homepage}}/journal">journal</a>
                    </li>
                    <li class="nav-item">
                        <a title="About" class="button white about nav-link" href="http://{{homepage}}/about">about</a>
                    </li>
                </ul>
            </nav>

        </div>
    </footer>


    <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->


</div> <!-- wrapper -->

<div class="praetorians">
    <a href="http://{{homepage}}/praetorian">π</a>
</div>

</body>
</html>